/*
Style do qlinarny.pl 
Autor: EMMAR Sp. z o.o.
*/
@font-face {
  font-family: "Century_Gothic";
  src: url('../fonts/Century_Gothic.ttf');  
}
@font-face {
  font-family: "Century_Gothic_Bold";
  font-weight: bold;
  src: url('../fonts/Century_Gothic_Bold.ttf');
}
@font-face {
  font-family: "Arial_Narrow_Bold";
  font-weight: bold;
  src: url('../fonts/Arial_Narrow_Bold.ttf');
}
@font-face {
 font-family: FREESCPT;
 src: url("../fonts/FREESCRIPTPL.eot") /* EOT file for IE */
}
@font-face {
 font-family: FREESCPT;
 src: url("../fonts/FREESCRIPTPL.ttf") /* TTF file for CSS3 browsers */
}
body{
	background: url('../images/bg_body.jpg') repeat center 0 scroll;
	font-family: "Arial";
	font-size: 10px;
	line-height: 12px;
	color: #b57c3e;
	text-align: center;
}
.site{
	width: 989px;
	margin: 0 auto;
	text-align: left;
}

/*  ====================   TOP   ============================= */
.top{
	width: 1107px;
	margin: 0 auto;
	text-align: left;
}
.header{
	padding: 19px 0 0 0 ;
	position: relative;
}
.header .lisc_g{
	width: 92px;
	height: 30px;
	background: url('../images/lisc_menu.png') no-repeat 0 0 scroll;
	margin: 60px 0 0 0;
}
.header .logo{
	width: 172px;
	height: 37px;
	text-indent: -9999px;
	background: url('../images/logo.png') no-repeat 0 0 scroll;
	margin: 30px 0 0 10px;
}
.header .pomidor{
	width: 123px;
	height: 91px;
	background: url('../images/tomatoes.png') no-repeat 0 0 scroll;
	position: absolute;
	left: 286px;
	top: 38px;
	z-index: 2;
}
.header .logowanie{
	margin: 0 0 0 113px;
	width: 330px;
	
}
.header .logowanie .form_logowanie{ 
	width: 330px;
	height: 77px;
	background: url('../images/login_box.png') no-repeat 0 0 scroll;
}	
.header .logowanie .form_logowanie .login_inputy{
	padding: 15px 0 0 22px;
	width: 209px;
	width: 186px !important;
	font-family: "Century_Gothic";
	color: #fffcb5;
	font-size: 12px;
	line-height: 16px;
}
.header .logowanie .form_logowanie .login_inputy input{
	width: 140px;
	margin: 1px 4px 10px 0;
	background: none;
	font-family: "Century_Gothic";
	color: #a39f50;
	border: none;
}
.header .logowanie .form_logowanie div:not(.login_inputy) a,
.header .logowanie .form_logowanie div:not(.login_inputy) input{
	color: #f8f498;
	background: none;
	border: none;
	display: block;
	margin: 15px 0 0 0;
	text-align: center;
	width: 120px;
	font-size: 11px;
	font-family: "Century_Gothic_Bold";
	text-transform: uppercase;
}
.header .logowanie .logowanie_cien{
	width: 330px;
	height: 13px;
	background: url('../images/login_box_shadow.png') no-repeat 0 0 scroll;
}
.header .ksiazka{
	margin: 2px 89px 0 0;
	width: 217px;
	height: 88px;
	background: url('../images/ksiazka_top.png') no-repeat 0 0 scroll;
}
.header .ksiazka a{
	text-align: center;
	font-size: 12px;
	color: #b07331;
	float: right;
	display: block;
}
.header .ksiazka a:not(.notatnik){
	width: 180px;
	margin: 9px 0 0;	
}
.header .ksiazka .notatnik{
	width: 100px;
	margin: 25px 0 0;
}
.menu .menu_img_l{
	width: 59px;
	height: 62px;
	background: url('../images/menu_l.png') no-repeat 0 0 scroll;
}
.menu .menu_img_r{
	width: 40px;
	height: 62px;
	background: url('../images/menu_p.png') no-repeat 0 0 scroll;
}
.menu .menu_top{
	padding: 14px 0 0 0;
	width: 989px;
	height: 62px;
	height: 48px !important;
	background: url('../images/menu.png') no-repeat 0 0 scroll;
}
.menu .menu_top li{
	float: left;
}
.menu .menu_top li.last_e>a{
	border-right: none;
}
.menu .menu_top li.first_e>a{
  border-left: none;
  width: 107px;
  height: 28px;
  padding: 0;
  text-indent: -9999px;
  background: url('../images/home_bt.jpg') no-repeat 54px 2px scroll;
}
.menu .menu_top li a{
  font-family: "Arial_Narrow_Bold";
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 8px 45px;
  border-left: 1px solid #cb4123;
  border-right: 1px solid #ed6e29;
}
.banner {
  	background: url('../images/blask_bialy_dania.png') repeat-x 0 0 scroll;
	padding: 0 0 13px;
}
.banner .zestaw_head {
	padding: 3px 0 0 26px;
}
.banner .zestaw_head .zestaw_head_l{
	width: 22px;
	height: 14px;
  	background: url('../images/head_zestaw_1.png') no-repeat 0 0 scroll;
	margin: 5px 0 0 0;
}
.banner .zestaw_head .zestaw_head_r{
	width: 37px;
	height: 7px;
  	background: url('../images/head_zestaw_2.png') no-repeat 0 0 scroll;
	margin: 8px 0 0 7px;
}
.banner .zestaw_head .zestaw_head_c{
	font-family: "FREESCPT";
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 0 7px;
	color: #fa4c00;
}
.banner .zestawy_dzis{
	margin: 5px 0 0 4px;
}
.banner .zestawy_dzis li{
	float:left;
	margin: 0 1px 0 0 ;
	width: 150px;
}
.banner .zestawy_dzis li .zestaw_cont{
	background: #fff;
	padding: 1px;
}
.banner .zestawy_dzis li .zestaw_cont a{
  	font-family: "FREESCPT";
  	position: relative;
	font-size: 25px;
	line-height: 25px;
	color: #b07331;
	padding: 20px 0 0 0 ;
	text-align: center;
	border: 1px solid #ead7a6;
	display: block;
	width: 148px ;
	width: 146px !important;
	height: 114px !important;
	height: 134px;
  	background: url('../images/bg_gradient_danie.jpg') repeat-x 0 0 scroll;
}
.banner .zestawy_dzis li .zestaw_cont a img{
	bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.banner .zestawy_dzis li .zestaw_cien{
	width: 150px;
	height: 6px;
  	background: url('../images/cien_dania.png') no-repeat 0 0 scroll;
}
.banner .dodaj_przepis_box{
	width: 230px;
	margin: 31px 0 0 0;
}
.banner .dodaj_przepis_box a{
	display: block;
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	color: #489510;
	padding: 57px 0 0 ;
	text-align: center;
	min-height: 70px;
	min-height: 13px !important;
	min-width:: 98px;
  	background: url('../images/dodaj_przepis.png') no-repeat center 0 scroll;
}
.banner .dodaj_przepis_box p{
	font-family: arial;
	font-size: 11px;
	line-height: 14px;
	color: #8e766d;
	padding: 10px 30px 0 ;
	text-align: center;
}

/*  ====================   CONTENT   ============================= */

.container{
	padding: 14px 0 0;
	background: #fff;
}
.container .col_left {
	margin: 38px 0 0 20px;
	width: 369px;
}
.col_left .smaczki_box{
	margin: 0 0 0 20px;
}
.col_left .smaczki_box .smaczki_img_head{
	width: 82px;
	height: 83px;
	background: url('../images/smaczki_ico.jpg') no-repeat 0 0 scroll;
}
.col_left .smaczki_box .smaczki_header{
	color: #fa4c00;
	margin: 20px 0 0 10px;
}
.col_left .smaczki_box .smaczki_header h1{
	font-size: 60px;
	line-height: 48px;  
	font-weight: normal;
  	font-family: "FREESCPT";
}
.col_left .smaczki_box .smaczki_header h2{
	font-size: 18px;
	line-height: 16px;  
	font-weight: bold;
	font-style: italic;
	color: #b07331;
  	font-family: "Constantia";
}
.col_left .smaczki_box .smaczki_cont{
	margin: 15px 0 0 9px;
}
.col_left .smaczki_box .smaczki_cont li{
	margin: 30px 0 0 ;
	width: 340px;
}
.col_left .smaczki_box .smaczki_cont li h3{
	font-family: "Myriad Pro";
	font-size: 14px;
	line-height: 14px;    
	font-weight: 600;
	color: #fa4c00;
	display: inline;
	max-width: 280px;
	max-width: 255px !important;
	padding: 0 25px 0 0;
	float: left;
}
.col_left .smaczki_box .smaczki_cont li .subhead_ico,
.col_right .kacik_box ul li .kacik_cont .subhead_ico{
	background: url('../images/subhead.jpg') no-repeat  0 0 scroll;
	width: 58px;
	height: 12px;
}
.col_left .smaczki_box .smaczki_cont li:hover .subhead_ico,
.col_right .kacik_box ul li:hover .kacik_cont .subhead_ico{
	background: url('../images/subhead_hover.jpg') no-repeat  0 0 scroll;
}
.col_left .smaczki_box .smaczki_cont li p{
	font-family: Arial;
	margin: 8px 0 0 0;
	color: #b57c3e;
}

.col_left .potrawy_top10_box{
	margin: 60px 0 0 0;
}
.col_left .potrawy_top10_box h2{
	font-size: 25px;
	line-height: 25px;  
	font-weight: normal;
	color: #b07331;
  	font-family: "FREESCPT";
  	margin: 0 10px 0 29px;
	background: url('../images/head_ico.jpg') no-repeat right 0 scroll;
}
.col_left .potrawy_top10_box ul{
	margin: 15px 0 0 0 ;
}
.col_left .potrawy_top10_box ul li{
	margin: 4px 0 0 0;
	background: #fdf6e4;
}
.col_left .potrawy_top10_box ul li:hover{
	margin: 4px 0 0 0;
	background: #fa4c00;
	color: #fff;   
}
.col_left .potrawy_top10_box ul li:hover .top10_cont h3{
	color: #fff;
}
.col_left .potrawy_top10_box ul li .top_number{
	height: 60px;
	height: 35px !important;
	width: 23px;
	text-align: center;
	padding: 25px 0 0 0 ;
	font-family: "Myriad Pro";
	font-size: 12px;
	line-height: 12px; 
	
}
.col_left .potrawy_top10_box ul li img{
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
	width: 94px;
	height: 60px;
}
.col_left .potrawy_top10_box ul li .top10_cont{
	width: 244px;
	width: 210px !important;
	height: 60px;
	height: 51px !important;
	padding: 9px 17px 0;
}
.col_left .potrawy_top10_box ul li .top10_cont h3{
	font-family: "Myriad Pro";
	font-weight: 600;
	font-size: 14px;
	line-height: 14px; 
	color: #ec3302;
	margin: 0 0 5px;
}
.col_left .potrawy_top10_box ul li .top10_cont p{
}

.container .col_right{
	margin: 0 0 0 57px;
	padding: 48px 25px 0 0;
	width: 290px !important;
	width: 315px;
}
.col_right .ostatnie_box{
	
}
.col_right .ostatnie_box h2,
.col_right .lokale_top10_box h2,
.col_right .last_forum_box h2,
.container .sidebar .konkurs_box h3,
.col_right .kacik_box h2{
	font-size: 25px;
	line-height: 25px;  
	font-weight: normal;
	color: #b07331;
  	font-family: "FREESCPT";
  	margin: 0 0 0 6px;
}
.col_right .ostatnie_box h2{
	background: url('../images/head_ico.jpg') no-repeat right 0 scroll;
}
.col_right .ostatnie_box ul{
	margin: 20px 0 0 0;
}
.col_right .ostatnie_box ul li{
	margin:  0 4px 3px 0;
	float: left;
	width: 94px;
}
.col_right .ostatnie_box ul li:nth-child(3n){
	margin:  0 0 3px 0;
}
.col_right .ostatnie_box ul li .ostatnie_etykieta{
	width: 100%;
	text-align: center;
	color: #b07331;
	padding: 5px 0 0 ;
	line-height: 8px;
	height: 18px;
	height: 13px !important;
	background: #fdf6e4;
}
.col_right .ostatnie_box ul li:hover .ostatnie_etykieta{
	background: #fa4c00;
	color: #fff;   
}

.col_right .kacik_box{
	margin: 35px 0 0 0;  
}
.col_right .kacik_box ul{
	margin: 15px 0 0 0;  
}
.col_right .kacik_box ul li{
	pading: 0 0 2px 0;  
	height: 69px;
	height: 67px !important;
	width: 100%;
	background: url('../images/kacik_bg.jpg') no-repeat left 0 scroll;
}
.col_right .kacik_box ul li img{
	float: left;
	height: 52px;
	width: 81px;
	margin: 9px 0 0 9px;
	border: 1px solid #fefcf6;
}
.col_right .kacik_box ul li .kacik_cont{
	font-size: 12px;
	padding: 20px 0 0 22px;
}
.col_right .kacik_box ul li .kacik_cont h3{
	display: inline;
	font-size: 12px;
	line-height:12px;
	max-width: 115px;
	max-width: 100px !important;
	padding: 0 15px 0 0;
	float: left;
}
.col_right .kacik_box ul li .kacik_cont p{
	margin: 5px 0 0 0;
}

.col_right .lokale_top10_box{
	margin: 35px 0 0 0;
}
.col_right .lokale_top10_box ul{
	margin: 20px 0 0 0;
}	
.col_right .lokale_top10_box ul li{
	margin: 0 0 2px 0;
	background: #f8f7d7;
	height: 55px;
	width: 100%;
}	
.col_right .lokale_top10_box ul li .top_number{
	padding: 23px 0 0 0;
	text-align: center;
	height: 55px;
	height: 28px !important;
	width: 22px;
	font-family: "Myriad Pro";
	font-size: 12px;
	line-height: 12px; 
	color: #8a8741;
}	
.col_right .lokale_top10_box ul li img{
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	height: 55px;
	width: 78px;
}	
.col_right .lokale_top10_box ul li .top10_cont {
	padding: 7px 15px 0;
	width: 183px;
	width: 153px !important;
	height: 55px;
	height: 48px !important;
}
.col_right .lokale_top10_box ul li .top10_cont h3{
	font-family: "Myriad Pro";
	font-weight: 600;
	font-size: 14px;
	line-height: 14px; 
	color: #8a8741;
}	
.col_right .lokale_top10_box ul li .top10_cont p{
	margin: 4px 0 0 0;
}	
.col_right .lokale_top10_box ul li:hover{
	background: #c5c15b;
	color: #fff;
}
.col_right .lokale_top10_box ul li:hover .top10_cont h3{
	color: #fff;
}
.col_right .lokale_top10_box ul li:hover .top_number{
	color: #fff;
}
.col_right .last_forum_box{
	margin: 40px 0 0 0;
}
.col_right .last_forum_box ul{
	margin: 4px 0 0 6px;
}
.col_right .last_forum_box ul li {
	padding: 9px 0 0 ;
}
.col_right .last_forum_box ul li a{
	color: #837c7c;
	float: left;
	display: inline;
	margin: 0 17px 0 0;
	max-width: 240px;
	font-size: 12px;
	line-height: 12px;
}
.col_right .last_forum_box ul li:hover a{
	color: #fa4c00;
}
.col_right .last_forum_box ul li .subhead_ico{
	background: url('../images/subhead.jpg') no-repeat  0 0 scroll;
	width: 22px;
	height: 12px;
}
.col_right .last_forum_box ul li:hover .subhead_ico{
	background: url('../images/subhead_h.jpg') no-repeat  0 0 scroll;
}

.smaczki_box a,
.potrawy_top10_box a,
.ostatnie_box a,
.kacik_box a,
.lokale_top10_box a{
	color: inherit;
}.smaczki_box a:hover,
.potrawy_top10_box a:hover,
.ostatnie_box a:hover,
.kacik_box a:hover,
.lokale_top10_box a:hover{
	text-decoration: none;
}
.container .col_container{
	height: 100%;
	border-right: 1px solid #e8d6c3 ;
}
.container .sidebar{
	margin: 26px 0 0 ;
	width: 226px ;
}
.container .sidebar .szukaj_box{
	padding: 0 0 0 25px;
	height: 48px;
	background: url('../images/szukaj_sep.jpg') no-repeat center bottom scroll;
}
.container .sidebar .szukaj_box input[type="text"]{
	padding: 0 0 0 15px;
	float: left;
	font-family: "Myriad Pro";
	font-weight: 600;
	font-size: 14px;
	line-height: 14px; 
	height: 31px;
	width: 139px;
	width: 124px !important;
	border: 1px solid #6ec52e;
	color: #aeda8d;
	background: none;
}
.container .sidebar .szukaj_box input[type="submit"]{
	border: none;
	height: 33px;
	width: 35px;
	float: left;
	text-indent: -9999px;
	background: url('../images/bt_szukaj.jpg') no-repeat 0 0 scroll;
}
.container .sidebar .konkurs_box{
	margin: 40px 0 0 0;
	text-align: center;
}
.container .sidebar .konkurs_box .konk_bt{
	width: 130px;
	margin: 0 auto;
}
.container .sidebar .konkurs_box .konk_bt a{
	padding: 14px 0 0 ;
	display: block;
	height: 43px;
	height: 29px !important;
	width: 119px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	font-family: "Myriad Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 16px; 
	color: #fff;
	background: url('../images/bt_konkurs_c.jpg') repeat-x 0 0 scroll;
}
.container .sidebar .konkurs_box .konk_bt .konk_bt_l{
	background: url('../images/bt_konkurs_l.jpg') no-repeat 0 0 scroll;
	width: 5px;	
	height: 43px;	
}
.container .sidebar .konkurs_box .konk_bt .konk_bt_r{
	background: url('../images/bt_konkurs_r.jpg') no-repeat 0 0 scroll;
	width: 6px;	
	height: 43px;	
}
.container .sidebar .konkurs_box h3{
	margin: 13px 0 0 0;	
}
.container .sidebar .konkurs_box p{
	margin: 16px 0 0 0;	
	font-size: 11px;
	line-height: 11px;
	color: #8e766d;
}
.container .sidebar .newsletter_box{
	margin: 50px 0 0 0;
}
.container .sidebar .newsletter_box h2{
	margin: 3px 1px 0;
	height: 36px;
	height: 24px !important;
	color: #b07331;
	padding: 12px 0 0 0;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: "Century_Gothic";
	position: relative;
	background: #fdf6e4;
	font-weight: normal;
}
.container .sidebar .newsletter_box h2 img{
	position: absolute;
	top: -3px;
	left: 24px;
	width: 51px;
	height: 42px;
}
.container .sidebar .newsletter_box input[type="text"]{
	display: block;
	margin: 13px auto 0;
	padding: 0 6px;
	width: 152px;
	width: 140px !important;
	height: 28px;
	border: 1px solid #b07331;
	border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 12px;
	line-height: 12px;
	color: #b07331;
	font-family: "Century_Gothic";	
}
.container .sidebar .newsletter_box input[type="submit"]{
	display: inline;
	float: right;
	background: none;
	border: 0;
	margin: 0 25px 0 0;
	font-size: 25px;
	line-height: 25px;  
	font-weight: 200;
	color: #b07331;
  	font-family: "FREESCPT";
}
.container .sidebar .newsletter_box p{
	margin: 20px 0 0 0;
	font-size: 11px;
	line-height: 11px;
	color: #c29667;
	text-align: center;
	width: 155px;
	margin: 0 auto;
	display: block;
}

.container .sidebar .dolacz_sidebar{
	margin: 90px auto 0;	
	display: block;
	background: url('../images/box_zapros.jpg') no-repeat 0 0 scroll;
	width: 188px;	
	height: 213px;	
}

/*  ====================   FOOTER   ============================= */

.footer{
	background: url('../images/bg_footer.jpg') repeat-x 0 0 scroll;
	min-height: 155px;
	text-align: center;
}
.footer .footer_site{
	width: 993px;
	margin: 0 auto;
}
.footer .footer_site .foo_white_l{
	width: 4px;
	height: 57px;
	background: url('../images/footer_box_l.jpg') no-repeat 0 0 scroll;
}
.footer .footer_site .foo_container{
	width: 743px;
	width: 664px !important;
	color: #a28a5a;
	font-size: 12px; 
	line-height: 14px;
	padding: 90px 37px 0 42px;
	background: url('../images/footer_box_c.jpg') repeat-x 0 0 scroll;
}
.footer .footer_site .foo_container a{
	color: #a28a5a;
}
.footer .footer_site .foo_container .menu_top{
	max-width: 500px;
}
.footer .footer_site .foo_container .menu_top li.first_e{
	padding: 0 9px 0 0;
	border-left: none;
}
.footer .footer_site .foo_container .menu_top li.last_e{
	padding: 0 0 0 9px;
	border-right: none;
}
.footer .footer_site .foo_container .menu_top li{
	border-left: 1px solid #ecd9a9;
	border-right: 1px solid #c8ae74;
	padding: 0 9px;
	float: left;
}
	

.footer .footer_site .foo_white_img{
	width: 239px;
	height: 128px;
	background: url('../images/footer_img.jpg') no-repeat 0 0 scroll;
}
.footer .footer_site .foo_white_r{
	width: 7px;
	height: 57px;
	background: url('../images/footer_box_r.jpg') no-repeat 0 0 scroll;
}