{% extends "base.html"%}
<body> 
            {% block left %} 
			        <div class="col_left float_l">
				<div class="smaczki_box">
					<div class="smaczki_img_head float_l"></div>
					<div class="smaczki_header float_l">
						<h1>Smaczki</h1>
						<h2>Kulinarne aktualności</h2>
					</div>
					<br class="clear" />
					<ul class="smaczki_cont">
						<li><a href="" alt="">
							<h3>Labore itum tempor</h3><span class="subhead_ico float_l"></span><br class="clear" />
							<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt. Tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
						</a></li>
						<li><a href="" alt="">
							<h3>Labore itum tempor</h3><span class="subhead_ico float_l"></span><br class="clear" />
							<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt. Tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
						</a></li>
						<li><a href="" alt="">
							<h3>Labore itum tempor</h3><span class="subhead_ico float_l"></span><br class="clear" />
							<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt. Tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
						</a></li>
						<li><a href="" alt="">
							<h3>Labore itum tempor</h3><span class="subhead_ico float_l"></span><br class="clear" />
							<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt. Tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
						</a></li>
					</ul>
				</div>
				
				<div class="potrawy_top10_box">
					<h2>Najlepsze przepisy!</h2>
					<ul>
						<li><a href="" alt="">
							<div class="top_number float_l">1.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">2.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">3.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">4.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">5.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">6.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">7.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">8.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">9.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">10.</div>
							<div class=" float_l"><img src="/media/images/najlepsze_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							<br class="clear" />
						</a></li>
					</ul>
				</div>
				
			</div>
            {% endblock %}
            {% block right %}
					<div class="col_right float_l">
				<div class="ostatnie_box">
					<h2>Ostatnio dodane</h2>
					<ul>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/najlepsze_img.jpg" alt="" />
							<div class="ostatnie_etykieta">Lorem ipsum</div>
						</a></li>
						<br class="clear" />
					</ul>
				</div>
				
				<div class="kacik_box">
					<h2>Kącik Babuni</h2>
					<ul>
						<li><a href="" alt="">
							<img src="/media/images/kacik_img.jpg" alt="" />
							<div class="kacik_cont float_l">
								<h3>Aspernatur aut</h3><span class="subhead_ico float_l"></span><br class="clear" />
								<p>Incidunt ut labore et dolore...</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/kacik_img.jpg" alt="" />
							<div class="kacik_cont float_l">
								<h3>Aspernatur aut</h3><span class="subhead_ico float_l"></span><br class="clear" />
								<p>Incidunt ut labore et dolore...</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<img src="/media/images/kacik_img.jpg" alt="" />
							<div class="kacik_cont float_l">
								<h3>Aspernatur aut</h3><span class="subhead_ico float_l"></span><br class="clear" />
								<p>Incidunt ut labore et dolore...</p>
							</div>
							<br class="clear" />
						</a></li>
						
						<br class="clear" />
					</ul>
				</div>
				
				<div class="lokale_top10_box">
					<h2>Polecane lokale</h2>
					<ul>
						<li><a href="" alt="">
							<div class="top_number float_l">1.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sum</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">2.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">3.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">4.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">5.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">6.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">7.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">8.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">9.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
						<li><a href="" alt="">
							<div class="top_number float_l">10.</div>
							<div class=" float_l"><img src="/media/images/kolale_img.jpg" alt="" /></div>
							<div class="top10_cont float_l">
								<h3>Lorem ipsum dolor sit</h3>
								<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<br class="clear" />
						</a></li>
					</ul>
				</div>
				
				<div class="last_forum_box">
					<h2>Ostatnio na forum</h2>
					<ul>
						<li>
							<a href="" title="">Praesent vestibulumestie lacus</a><span class="subhead_ico float_l"></span><br class="clear" />
						</li>
						<li>
							<a href="" title="">Praesent lacus</a><span class="subhead_ico float_l"></span><br class="clear" />
						</li>
						<li>
							<a href="" title="">Praesent vestibulutie lacus</a><span class="subhead_ico float_l"></span><br class="clear" />
						</li>
						<li>
							<a href="" title="">Praesent vemestie lacus</a><span class="subhead_ico float_l"></span><br class="clear" />
						</li>
						<li>
							<a href="" title="">Praesent vestibulumestie </a><span class="subhead_ico float_l"></span><br class="clear" />
						</li>
					</ul>
					
				</div>
				
			</div>		
		    {% endblock %}
</body>

